html {
  background-color: #202023;
}

#three{
  max-width: 100%;
}

canvas {
  background-color: #202023;
  max-width: inherit;
  position:relative;
}

:root {
  --dark-bg: #202023;
  --spacing: 2.5rem;
  font-family:'Orbitron';
  font-weight: 300;
  font-style: normal;
}

/* keep header on bottom of the page */
header {
  position: absolute;
  top: 65%;
  height: 3rem;
  z-index: 1;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}

header p{
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  max-width: 100%;
  margin: 0px auto;
  grid-template-columns: repeat(12, 1fr);
  text-align:center;
}

h1, h2, h3, blockquote {
  font-family: 'Orbitron';
  font-weight: 600;
  font-style: normal;
}



/* make section full width */
section {
  grid-column: 2 / span 12;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  text-align:center;
  background:rgba(12, 12, 13, 0.6);
}

.clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 2rem;
  font-weight: 700;
  text-align:center;
  grid-column: 2 / span 4;
  padding: 1rem;
  margin-bottom: var(--spacing);
}

/* keep navigation bar on top*/
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(32, 32, 35, 0.5);
  align-items: center;
  height: 3rem;
}
/* make navigation bar responsive */
.topnav a{
  display: inline;
  float: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
/* Style the links inside the navigation bar */


/* Change the color of links on hover */
.topnav a:hover {
  background-color: gray;
  color: #66ff99;}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: gray;
  color: #66ff99;
}

/* Keep footer on bottom and all lines are aligned */
footer {
  bottom: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
  background-color: #202023;
  color: #66ff99;
}

/* Make profile picture circular and small */
#pfp {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 10px;
}

#Contact {
  display: inline-block;
  justify-content: center;
}

#Contact a{
  margin: 5%;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2rem;
  text-align: left;
}

#Contact p{
  text-align: left;
  display: inline-block;
  width: 100%;
  justify-content: center;
}

i{
  font-size: 1.5rem!important;
  margin-top: 14px;
}