html {
  background-color: #202023
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #202023
}


:root {
  --dark-bg: #202023;
  --spacing: 350px;

  font-family:'Orbitron';
  font-weight: 300;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: 'Orbitron';
  font-weight: 500;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    grid-column: 2 / span 4;
    font-size: 1.5rem;
    padding: 1rem;
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    background:rgba(12, 12, 13, 0.3);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: #202023;
    background-color: white;
    font-size: 1rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  .clock {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-size: 2.2rem;
    font-weight: 700;
    text-align:left;
    grid-column: 2 / span 4;
    padding: 1rem;
    margin-bottom: var(--spacing);
  }

/* keep navigation bar on top*/
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #202023;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: gray;
  color: white;
}

/* Keep footer on bottom */
footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
  background-color: #202023;
  color: #66ff99;
}

/* Make profile picture circular and small */
#pfp {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 10px;
}